.*.swp
*.autosave
.DS_Store
*.pyc
*.so
*.dylib
*.o
*.a
a.out
*.dSYM
*.db
*~
xcuserdata
build
*.creator.user

# from test_bmpthumb.py
thumbnail.bmp

.idea
xcshareddata

# Python distutils
/MANIFEST
/dist

# automatically created (e.g. via qmake)
Makefile
Makefile.*

# QtCreator
/music-player-core.config
/music-player-core.creator
/music-player-core.files
/music-player-core.includes

