[submodule "external/ffmpeg"]
	path = external/ffmpeg
	url = git@github.com:albertz/ffmpeg-static.git
[submodule "external/portaudio"]
	path = external/portaudio
	url = git@github.com:albertz/portaudio.git
