[submodule "external/ffmpeg"]
	path = external/ffmpeg
	url = https://github.com/albertz/ffmpeg-static.git
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/albertz/portaudio.git
